<h3>Match #<%= @dp.match.match_number %></h3>

<!-- TODO render partial match details, nice little table with summary -->

<%= @player_options[:player1].name %>

<%= form_for [@dp.draw.tournament, @dp.draw, @dp] do |f| %>
  <%= f.label "Who won this match?"%>
  <%= f.select :players, [@player_options[:player1].name, @player_options[:player2].name] %>
  <%= f.submit %>
<% end %>
