draw show page for <%= @draw.name %>

<br>
<br>

<h1><%= @draw.name %></h1>
<main id="tournament">
  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "sixty_four"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "oitavas"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "quarters"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "semis"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "final"} %>
</main>
