<h1> <%= @draw.tournament.name %> - <%= @draw.name %></h1>

<br>
  <% # if admin %>
  <%= link_to "Edit Draw", edit_tournament_draw_path(tournament_id: @draw.tournament.id, id: @draw.id) %>
<br>

<main id="tournament">
  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "sixty_four"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "oitavas"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "quarters"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "semis"} %>

  <%= render partial: "draw_matches", locals: {draw: @draw, round_name: "final"} %>
</main>
